{
  "retainLines": true,
  "compact": true,
  "comments": false,
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "syntax-async-functions",
    "syntax-async-generators",
    "syntax-class-properties",
    "syntax-object-rest-spread",
    "syntax-trailing-function-commas",
    "transform-class-properties",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-react-display-name",
    "transform-runtime",
    "transform-strict-mode"
  ],
  "sourceMaps": false
}
