.base {
  padding: 48px;
  width: 360px;
  margin: auto;
}

.count {
  font-family: sans-serif;
  font-size: 192px;
  color: #443b5d;
  text-align: center;
}

.actions {
  text-align: center;
}

.button {
  display: inline-block;
  background: #56acdf;
  color: #fff;
  border-radius: 2px;
  border: 0;
  font-size: 16px;
  padding: 8px;
  margin: 2px;
  min-width: 32px;
  outline: 0;
  cursor: pointer;

  &:hover {
    background: #60c0f7;
  }

  &:active {
    background: #4d98c4;
  }
}
